.tag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 1em;
  width: 115px;
  height: 25px;
  padding: 10px 15px;
  background-color: #FF6060;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.tag h2.tag-title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.96px;
  text-align: center;
}
