 .section {
     background-image: linear-gradient(rgba(14, 14, 14, 0.5), rgba(8, 8, 8, 0.5)),
         url("../../assets/images/IMG.svg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 10px;
     display: flex;
     align-items: center;
     width: 90vw;
     margin: auto;
     margin-bottom: 2em;
     h1 {
         color: white;
         font-family: Montserrat;
         text-align: center;
     }
 }

 @media (max-width: 767px) {
     .section {
         height: 114px;

         h1 {
             text-align: left;
             font-size: 20px;
             font-weight: 700;
             line-height: 25px;
             padding-left: 1em;

             span {
                 display: block;
             }
         }
     }

 }

 @media (min-width: 768px) and (max-width: 1024px) {
     .section {
         height: 130px;
         justify-content: center;

         h1 {
             font-size: 30px;
             font-weight: 700;
             line-height: 68.45px;

             span {
                 display: inline-block;
             }
         }

     }
 }

 @media only screen and (min-width : 1024px) {
     .section {
        //  height: 223px;
         height: 45vh;
         display: flex;
         align-items: center;
         justify-content: center;

         h1 {
             font-size: 48px;
             font-weight: 700;
             line-height: 68.45px;

             span {
                 display: inline-block;
             }
         }

     }
 }