.footer{
    height: 25vh;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
        width: 122px;
        height: 39.44px;
    }
}