.banners{
    height: 223px;
    background-image: linear-gradient(rgba(14, 14, 14, 0.5), rgba(8, 8, 8, 0.5)),
    url("../../assets/images/kalen-emsley-Bkci_8qcdvQ-unsplash\ 2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
}