.details-hostInfo {
  display: grid;
  margin: auto;
}

.details-container {
  margin: auto;
  display: flex;
  flex-direction: column;

  .details-carrousel {
    text-align: center;
    align-items: flex-start;
  }

  .details-title-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  h1.details-h1 {
    font-family: Montserrat;
    text-align: left;
    color: #FF6060;
    margin-block-end: 0;
    margin-block-start: 1em;
  }

  h3.details-h3 {
    font-family: Montserrat;
    margin-block-end: 0;
  }

  .details-tags {
    height: 60px;
    display: inline-flex;
  }

  .collapse {
    text-decoration: none;
  }

  .collapse-content {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .host{
    margin-block-start: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 767px) {
  .details-hostInfo{
    margin: 0 0 0 1em !important;
    width: 90vw;
    grid-template-columns:90vw;
    grid-template-rows: 0.5fr 0.25fr 0.15fr 0.5fr;
  }
  .details-title-tags{
    grid-column: 1;
    grid-row: 1;
  }
  h1.details-h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-block-end: 1em;
  }

  h3.details-h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
    margin-block-end: 1em;
  }
  .host-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1;
    grid-row: 3;
  }
  .details-collapse{
    grid-row: 4;
    grid-column: span 3;
  }
  .host{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex: 1;
    grid-row: 3;
    grid-column: 1;
  }
  .host-comp{
    align-items: center;
  }
  .host-picture{
    display: flex;
    align-items: center;
  }
  .rating {
    margin-block-start: 1em;
    grid-column: 1;
    grid-row: 3;
    display: flex;
    align-items: center;
}
.details-tags {
  justify-content: baseline;
  align-items: center;
  grid-column: 1;
  grid-row: 2;
  margin-top: 0.5em;
}
}

@media (min-width: 768px) and (max-width: 1024px){
  .details-hostInfo{
    margin: 0 2em 0 2em !important;
    width: 90vw;
    grid-template-columns:90vw;
    grid-template-rows: 1fr 0.5fr 0.25fr 1fr;
  }
  .details-title-tags{
    grid-column: span 2;
    grid-row: 1;
  }
  .host-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 2;
    grid-row: 3;
  }
  .details-tags{
    justify-content: baseline;
    align-items: center;
    grid-column: 1;
    grid-row: 3;
  }
  .details-collapse{
    grid-row: 4;
    grid-column: span 2;
  }
  .host{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
    grid-row: 2;
    grid-column: 1;
  }
  .rating{
    grid-column: 1;
    grid-row: 2;
  }
}


@media (min-width: 1024px) {
  section.details-hostInfo {
    width: 90vw;
    grid-template-columns: repeat(3,30vw);
    grid-template-rows: 1fr, 0.5fr, 1fr;
  }

  .details-title-tags {
    grid-column: span 2;
    grid-row: 1;
  }

  h1.details-h1 {
    font-size: 30px;
    font-weight: 600;
  }

  h3.details-h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 25.67px;
    text-align: left;
  }

  .details p {
    font-size: 1.2em;
    margin: 2em 0 2em 0;
  }

  .details-tags {
    flex-direction: row;
    grid-column: 1;
    grid-row: 2;
  }

  .rating {
    width: 100%;
    display: flex;
    grid-column: 3;
    grid-row: 2;
  }

  .rate-comp {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  svg.svg-inline--fa.fa-star.star {
    width: 36px;
    height: 36px;
  }

  .details-collapse {
    grid-column: span 3;
    grid-row: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collapse-details{
    border-radius: 5px;
    margin-bottom: 4em;
    width: 45%;
  }
  .collapse-content {
    height: 105px;
  }

}